.alert-box {
    position: fixed;
    top: 20px;
    right: 20px;
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    transform: translateY(0%);
    animation: slideIn 4s ease-out forwards;
    pointer-events: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  .info {
    color: black;
  }
  
  .warning {
    background-color: #ffc107;
  }
  
  .error {
    background-color: #dc3545;
  }
  
  @keyframes slideIn {
    from {

      transform: translateY(-35px);
    }
    to {
      
      transform: translateY(-65px);
    }
  }
  